{% extends 'base.html' %}
{% block title %}Création du tag{% endblock %}
{% block content %}


<h1>Créer un nouveau tag</h1>
<form method="post" class="m-5 border">
    {% csrf_token %}
    
    <div class="form-group m-3">
        <label for="{{ form.nom.id_for_label }}">Nom :</label>
        {{ form.nom }}
    </div>
    
    <div class="form-group m-3">
        <label for="{{ form.description.id_for_label }}">Description :</label>
        {{ form.description }}
    </div>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <div class="m-3 text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>
{% endblock %}
