{% extends 'base.html' %}
{% block title %}{{ jeu.nom }}{% endblock %}
{% block content %}
<h1>{{ jeu.nom }}</h1>
<h4>Description</h4>
<p>{{ jeu.description }}</p>
<h4>Date de création</h4>
<p>{{ jeu.date }}</p>
<h4>Studio créateur</h4>
<p>{{ jeu.studio }}</p>
<h4>Liste des tags</h4>
<p>{% for tag in tags%} {{tag.nom}} {% endfor %}</p>
<a href="{% url 'listejeux' %}" class="btn btn-secondary">Retour à la liste des jeux</a>
<a href="{% url 'modifierjeux' jeu.nom %}" class="btn btn-secondary">Modifier le jeu</a>
<a href="{% url 'supprimerjeux' jeu.nom %}" class="btn btn-secondary">Supprimer le jeu</a>

{% endblock %}
