{% extends 'base.html' %}
{% block title %}{{ studio.nom }}{% endblock %}
{% block content %}
<h1>{{ studio.nom }}</h1>
<h4>description</h4>
<p>{{ studio.description }}</p>
<h4>date de création</h4>
<p>{{ studio.date_creation }}</p>
<a href="{% url 'listestudios' %}" class="btn btn-secondary">Retour à la liste des studios</a>
<a href="{% url 'modifierstudio' studio.nom %}" class="btn btn-secondary">Modifier le studio</a>
<a href="{% url 'supprimerstudio' studio.nom %}" class="btn btn-secondary">Supprimer le studio</a>

{% endblock %}
